.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: tomato;
}

.modalInput {
  width: 50vw;
  height: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
